html {
    font-size: 10px;
    background-color: #00539f;
}

body {
    width: 60%;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 2rem 2rem 2rem;
    border: 0.5rem solid #000;
}


h1 {
    font-size: 6rem;
    text-align: center;
    margin: 0;
    padding: 2rem 0;
    color: #00539f;
    text-shadow: 0.3rem 0.3rem 0.1rem #000000;
}

img {
    display: block;
   height: 300px;
    margin: 0 auto;
}

p,li {
    font-size: 1.6rem;
    line-height: 2;
    letter-spacing: 0.1rem;
}